*{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: arial;
}
main{
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
}
textarea{
    width: 80%;
    max-width: 900px;
    height: calc(100vh - 300px);
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
}
.keyboard{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #004134;
    transition: .35s ease;
    overflow: hidden;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    transform: scaleY(1);
}
.row,button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    margin-bottom: 5px;
}
.row:last-child{
    margin-bottom: 0;
}
.row:last-child button:nth-child(2){
    width: 200px;
}
button{
    min-width: 5.5%;
    height: 30px;
    margin: 0 2px;
    background-color: #33675d;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
}
.ShiftLeft,.CapsLock,.Enter,.Backspace{
    padding: 0 5px;
}
button:hover{
    cursor: pointer;
}
button.active{
    background-color: #fff;
    color: #33675d;
}

.hide{
    border-radius: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.hidden{
    transform: scaleY(0);
}
@media screen and (min-width: 768px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    textarea{
        height: 210px;
    }
    button{
        font-size: 14px;
        border-radius: 5px;
    }
}
@media screen and (min-width: 1024px){
    button{
        font-size: 18px;
    }
}

